.climates
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    min-height: calc(100vh - 56px)
    padding-top: 56px
    position: relative
    z-index: 1
    .list
        width: 100%
        padding: 30px
        min-height: 268px
        max-width: 850px
        display: flex
        align-items: center
        justify-content: space-between
    @media (max-width: 890px)
        .list
            flex-direction: column